<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
	<insert id="upload" parameterType="BoardDTO">
		insert into board values(num_board.nextval, #{id}, #{nick}, #{title}, #{content}, sysdate, #{category}, #{img})
	</insert>
	
	<select id="boardAll" resultType="BoardDTO">
		select * from board
	</select>
	
	<select id="boardDetail" resultType="BoardDTO" parameterType="int">
		select * from board where num=#{num}
	</select>
	
	<delete id="BoardDelete">
		delete from board where nick=#{nick}
	</delete>
</mapper>