<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.CouponsMapper">
	<insert id="" parameterType="CouponsDTO">
	</insert>
	<select id="user_coupons" resultType="CouponsDTO">
		select c.* from COUPONS c, COUPON_HISTORY ch where c.SEQ = ch.C_SEQ and ch.CLASSIFICATION = 1
	</select>
</mapper>