<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>CheckIdCon</servlet-name>
		<display-name>CheckIdCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.CheckIdCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberJoinCon</servlet-name>
		<display-name>MemberJoinCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MemberJoinCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberLoginCon</servlet-name>
		<display-name>MemberLoginCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MemberLoginCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadProductCon</servlet-name>
		<display-name>ReadProductCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.ReadProductCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartInCon</servlet-name>
		<display-name>CartInCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.CartInCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartOutCon</servlet-name>
		<display-name>CartOutCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.CartOutCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>filterCon</servlet-name>
		<display-name>filterCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.filterCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartReadCon</servlet-name>
		<display-name>CartReadCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.CartReadCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MovePaymentPageCon</servlet-name>
		<display-name>MovePaymentPageCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MovePaymentPageCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardDelCon</servlet-name>
		<display-name>BoardDelCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.Board</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardWriteCon</servlet-name>
		<display-name>BoardWriteCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.BoardWriteCon</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckIdCon</servlet-name>
		<url-pattern>/CheckIdCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberJoinCon</servlet-name>
		<url-pattern>/MemberJoinCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberLoginCon</servlet-name>
		<url-pattern>/MemberLoginCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartInCon</servlet-name>
		<url-pattern>/CartInCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadProductCon</servlet-name>
		<url-pattern>/ReadProductCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartOutCon</servlet-name>
		<url-pattern>/CartOutCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>filterCon</servlet-name>
		<url-pattern>/filterCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartReadCon</servlet-name>
		<url-pattern>/CartReadCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MovePaymentPageCon</servlet-name>
		<url-pattern>/MovePaymentPageCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardDelCon</servlet-name>
		<url-pattern>/BoardDelCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardWriteCon</servlet-name>
		<url-pattern>/BoardWriteCon</url-pattern>
	</servlet-mapping>
</web-app>
